{% extends 'admin_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content_header %}
    <h1>{% trans 'Settings' %}</h1>
{% endblock content_header %}
{% block content %}
    <h4 class="page-header">
        <small>
            This page lets you customize settings for this site.
        </small>

     </h4>
    <div id="content" class="nav-tabs-custom">
        <ul id="tabs" class="nav nav-tabs">
                <li class="active">
                    <a href="">
                        Fiscal Year
                    </a>
                </li>
        </ul>
        <div id="tabcontent" class="tab-content">
            <div class="tab-pane active">
                {% block form %}
                    {% crispy form %}
                {% endblock form %}
            </div>
        </div>
    </div>

{% endblock %}