{% extends '_base.html' %}

{% block body %}
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-info"> 400</h2>
            <div class="error-content">
                <h3>
                    <i class="fa fa-warning text-yellow"></i>
                    Oops! Bad Request. </h3>
                <p>
                    We got a had request. Meanwhile, you may
                    <a href="/">return to dashboard</a>
                   </p>
            </div>
        </div>
    </section>
{% endblock body %}