{% extends '_base.html' %}

{% block body %}
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-info"> 403</h2>
            <div class="error-content">
                <h3>
                    <i class="fa fa-warning text-yellow"></i>
                    Oops! Permission Denied. </h3>
                <p>
                    You don't have the Permission to visit this page.
                    you may
                    <a href="/">return to dashboard</a>
                    </p>
            </div>
        </div>
    </section>
{% endblock body %}