{% load staticfiles %}
{% load sekizai_tags %}
{#{% load sitetree %}#}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
{#        <title>{% block title %}{% sitetree_page_title from "goldcap" %}{% endblock title %}</title>#}
        <link rel="stylesheet" type="text/css"
              href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css"
              href="{% static 'css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css"
              href="{% static 'css/ionicons.min.css' %}" />
        <link rel="stylesheet" type="text/css"
              href="{% static 'css/datatables/dataTables.bootstrap.css' %}" />
        {% render_block "css" %}
        <link rel="stylesheet" type="text/css"
              href="{% static 'css/AdminLTE.css' %}" />
        <link rel="stylesheet" type="text/css"
              href="{% static 'css/reset.css' %}" />

        <link rel="icon" href="{% static 'images/bh_logo.png' %}" type="image/x-icon" />
        <link rel="shortcut icon" href="{% static 'images/bh_logo.png' %}" type="image/x-icon" />
    </head>
    <body class="skin-blue">
        {% block top_nav_right %}
            {% include '_header.html' %}
        {% endblock top_nav_right %}

        <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
        {% block body %}{% endblock body %}
        {% render_block "js" %}
    </body>
</html>
