{% load staticfiles %}
{% load sekizai_tags %}
{% load i18n %}
{% load sitetree %}

<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        {% if sitetree_items %}
            <ul class="sidebar-menu">
                {% for item in sitetree_items %}
                    {% if item.insitetree %}
                        <li class="{% if item.has_children %}treeview{% endif %} {{ item.css_class }} {% if item.is_current or item.in_current_branch %}active{% endif %}">
                            <a href="{% sitetree_url for item %}"
                               {% if item.hint %}title="{{ item.hint }}"{% endif %}>
                                {% if item.icon %}
                                    <i class="{{ item.icon }}"></i>
                                {% endif %}
                                {{ item.title_resolved }}
                                {% if item.has_children %}
                                    <i class="fa fa-angle-left pull-right"></i>
                                {% endif %}
                            </a>

                            {% if item.has_children %}
                                {% sitetree_children of item for sitetree template "menus/_sub_tree.html" %}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </section>
</aside>